"on":
  push:
    branches:
    - master
name: Deploy to no-target
jobs:
  porter-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set Github tag
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
    - name: Setup porter
      uses: porter-dev/setup-porter@v0.1.0
    - name: Deploy stack
      timeout-minutes: 30
      run: exec porter apply
      env:
        PORTER_CLUSTER: "1"
        PORTER_DEPLOYMENT_TARGET_ID: fd895f03-7c2c-4a3b-98a4-59b248257c84
        PORTER_HOST: https://rattler-immortal-worm.ngrok-free.app
        PORTER_PR_NUMBER: ${{ github.event.number }}
        PORTER_PROJECT: "1"
        PORTER_STACK_NAME: no-target
        PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
        PORTER_TOKEN: ${{ secrets.PORTER_STACK_1_1 }}
